
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link"
                                   href="">
								   &copy; 2021. File Integrity Monitor
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        <!-- <a target="_blank" href="https://www.themekita.com"></a>  -->
                        <!-- - coded by <a target="_blank" href="https://appseed.us">AppSeed</a> -->
					</div>				
				</div>
            </footer>
            